main {
  width: 65%;
  max-width: 650px;
  height: 65%;
  border: 2px solid black;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
}

h1 {
  height: 50px;
  background: black;
  display: block;
  color: white;
  padding: 16px;
  text-align: center;
}
