.message {
  padding: 8px;
}

.message + .message {
  margin-bottom: 32px;
}

.message--right {
  text-align: right;
}

.message--highlighted {
  animation: backgroundFade 10s forwards;
}

.message__info {
  font-size: 1rem;
}

.message__time {
  color: var(--pink);
  margin-right: 8px;
}

.message__username {
  color: var(--blue);
}

@keyframes backgroundFade {
  from {
    background-color: var(--yellow);
  }
  to {
    background-color: transparent;
  }
}
