.text-input {
  border-top: 2px solid black;
  position: relative;
}

.text-input__form {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.text-input__user {
  display: none;
}

.text-input__input {
  flex: 1;
  background: white;
  border: 0;
  padding: 16px;
  border-bottom-left-radius: 14px;
}

.text-input__button {
  background: var(--pink);
  border: 0;
  border-left: 2px solid black;
  width: 50px;
  cursor: pointer;
  border-bottom-right-radius: 14px;
}

.text-input__alert {
  position: absolute;
  bottom: -48px;
  padding: 8px;
  background: var(--orange);
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

@media (min-width: 734px) {
  .text-input__user {
    display: flex;
    align-items: center;
    border-right: 2px solid black;
    padding: 16px;
    background: var(--teal);
    border-bottom-left-radius: 14px;
  }
}
