@import "./variables.css";
@import "./reset.css";

body {
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 20px;
}

:focus-visible {
  outline: var(--pink) solid 3px;
  outline-offset: -2px;
}
